html,
body {
    background-color: darkorchid;
    color: white;
    height: auto;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 1rem;
}

.navbar__item {
    margin-left: 1rem;
}

.navbar__item a {
    color: ivory;
}

.navbar__item a:hover {
    color: rgb(233, 233, 233);
}

.container {
    margin: 5rem auto;
    width: 60vw;
    padding: 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
    transition: height 300ms ease-in-out;
}

.form__container {
    margin: 5rem auto;
    max-width: 55vw;
}

#notes__form {
    color: #000000;
    background-color: ivory;
    padding: 2rem 5rem;
    box-shadow: 9px 10px 0px 0px #000000;
}

.note {
    cursor: pointer;
    font-size: 2rem;
    animation: fadeInBottom 400ms ease-in-out 100ms;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: ivory;
    color: slategrey;
    padding: 1rem 2rem;
    box-shadow: 9px 10px 0px 0px #000000;
    margin: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 40rem;
    transition: all 400ms ease-in-out;
}

.note:hover {
    box-shadow: 0px 0px 0px 0px #000000;
    transform: scale(1.1);
}

.note .date {
    font-size: 1.4rem;
    margin-top: 2rem;
    font-style: italic;
    color: #3a3a3a;
    font-weight: bold;
    align-self: flex-end;
}

.note .delete {
    color: white;
    cursor: pointer;
    background-color: red;
    padding: 0.5rem 2rem;
    font-size: 1.3rem;
}

.note .delete:hover {
    text-decoration: underline;
}

.alert {
    position: absolute;
    right: 2%;
    bottom: 5%;
    background-color: white;
    color: #000000;
}

.alert p {
    margin-bottom: 0;
    padding: 1rem 3rem;
}

.button--custom {
    background-color: white;
    color: darkorchid;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin: 0 auto;
    width: 12rem;
}

.button--custom:hover {
    width: 12rem;
    background: darkorchid;
    border: 1px solid white;
    color: white;
}

.alert--success {
    border-bottom: 4px solid rgb(0, 170, 0);
}

.fadeInRight {
    animation: fadeInRight 600ms ease-in-out;
}

.fadeOutLeft {
    animation: fadeOutLeft 600ms ease-in-out forwards;
}

.fadeOutBottom {
    animation: fadeOutBottom 400ms ease-in-out forwards;
}

@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(30px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes fadeOutBottom {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(10px);
    }
}


@keyframes fadeOutLeft {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(30px);
    }
}