<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'notes/main.css' %}" />
</head>

<body>
    {% include 'notes/includes/navbar.html' %}
    <main class="form__container">
        <form method="post" action={% url 'create' %} id="notes__form">
            {% csrf_token %}
            <label for="{{ form.text.id_for_label }}">Task Note:</label>
            {{form.text}}
             {% for error in form.text.errors  %}
                <p class="form__error">{{ error }}</p>
             {% endfor %}
            <input class="button-primary" type="submit" value="Add">
        </form>
    </main>
</body>

</html>